# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!Makefile

# Ignore CGAL makefile
cgal/Makefile

# Ignore C++ object files
*.o

# Ignore output files
*.out

# Ingore cgal auxiliary files
CMake*
cmake*

# Unignore file to build cgal
!CMakeLists.txt

# Ignore runnable basic test
test
tester

# Ignore logfiles
logs
log*

# Ignore Mac OS files
.DS_Store

# Ignore auxiliary latex files
report/*.pdf
report/*.log
report/*.dvi
report/*.synctex.gz
report/*.aux
report/*.bbl
report/*.blg
report/report.ps
