# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!Makefile

# Ignore C++ object files
*.o

# Ignore output files
*.out

# Ingore cgal auxiliary files
CMake*
cmake*

# Ignore runnable basic test
test
tester

# Ignore logfiles
logs
log*

# Ignore Mac OS files
.DS_Store
