# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!Makefile

# Ingore C++ object files
*.o

# Ingore cgal auxiliary files
CMake*
cmake*

# Ignore runnable basic test
test
tester

# Ignore logfiles
logs
log*
